<!-- productos/templates/productos/detalle_producto.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{{ producto.nombre }}</title>
    <style>
        body {
            padding: 20px;
        }

        .product-details {
            max-width: 600px;
            margin: 0 auto;
        }

        .product-details img {
            max-width: 100%;
            height: auto;
            margin-top: 20px;
            transition: transform 0.2s;
        }

        .product-details img:hover {
            transform: scale(1.1);
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="product-details">
            <h1>{{ producto.nombre }}</h1>
            <p>{{ producto.descripcion }}</p>
            <p>Precio: ${{ producto.precio }}</p>
            <img src="{{ producto.qr_code.url }}" alt="Código QR del Producto" class="img-fluid">
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
